.wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  animation: pulse infinite 1s;
}
@media (hover: none), (pointer: coarse) {
  .icon:hover {
    animation: none;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
