.deleteBtn {
  cursor: pointer;
  color: #334154;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  background-color: transparent;
  margin-top: 20px;
  font-weight: 600;
  font-size: 12px;
  padding: 8px 0;
  display: block;
  width: 100%;
  transition: all 0.5s;
  outline: none;
}
.deleteBtn:hover {
  background-color: #de0000;
  color: #ffff;
  border: 1px solid #de0000;
}

@media (hover: none), (pointer: coarse) {
  .deleteBtn:hover {
    background-color: #de0000;
    color: #ffff;
    border: 1px solid #de0000;
  }
}
